@import url("https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Raleway", sans-serif;
	line-height: 1.4;
}

/* #CF6150: Red-white */
/* #AD95CF: Purple-white */
/* #F0C559: Yellow-white */
/*				LANDING PAGE			*/
.svgs {
	position: fixed;
	width: 100vw;
	height: 100vh;
}
.page {
	width: 100%;
	height: 90vh;
	position: relative;
}

.scrollIndicator{
	position: absolute;
	bottom: 12px;
	height: 0;
	width: 0;
	border-left:  25px solid transparent;
	border-right: 25px solid transparent;
	border-top:   25px solid #f00;
	animation: down 1.5s ease-in-out infinite;
}
@keyframes down{
	0%{ transform: translateY(0);}
	50%{ transform: translateY(100%);}
	100%{ transform: translateY(0);}
}

#part1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#part1 .title {
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 2px;
}
#part1 .title-support {
	font-size: 1.4em;
}
#part1 .imgContainer {
	margin: 0 0;
	margin-top: 10em;
	width: 40em;
	height: 40em;
	background-color: #fff;
}
#part1 .imgContainer img {
	width: 100%;
}
#part1 .info{
	margin-right: 5em;
}
#part1 .info .dev {
	margin-top: 4em;
	margin-bottom: 4em;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#part1 .info .btn-grp .try {
	display: inline-block;
	text-decoration: none;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
		sans-serif;
	font-weight: bold;
	padding: 0.6em 2em;
	margin-right: 2em;
	font-size: 1.4em;
	border: none;
	border-radius: 40px;
	box-shadow: 4px 4px 10px #81ecec;
	transition: 0.3s;
	color: white;
	background-image: linear-gradient(to right, #2F80ED, #56CCF2);
}
#part1 .info .btn-grp .try:hover {
	cursor: pointer;
	transform: scale(1.05);
}
#part1 .info .btn-grp .more {
	display: inline-block;
	text-decoration: none;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
		sans-serif;
	padding: 0.6em 2em;
	margin-right: 2em;
	font-size: 1.4em;
	border: none;
	border-radius: 40px;
	box-shadow: 0 0 10px #81ecec;
	transition: 0.3s;
	color: #2F80ED;
}
#part1 .info .btn-grp .more:hover {
	cursor: pointer;
	transform: scale(1.05);
}

#part2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.text-blue {
	color: #5e72e4;
}
.text-green {
	color: #2dce89;
}
.text-orange {
	color: #fb6340;
}
#part2 .myCard {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	width: 20em;
	margin: 3em;
	min-height: 18em;
	padding: 1em;
	border: none;
	filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.15));
	transition: 0.25s;
}
#part2 .myCard:hover {
	transform: translateY(-10%);
}
#part2 .myCard .myCard-img {
	display: flex;
	width: 4em;
}
#part2 .myCard .myCard-img img {
	margin-right: 2em;
	width: 100%;
}
#part2 .myCard .myCard-title {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}
#part2 .myCard .myCard-body {
	opacity: 0.75;
}

/*----------------------COMMON CLASSES----------------------*/

a:hover {
	background: rgba(255, 255, 255, 0.15);
}

footer, nav.navbar *{
	font-family: "Raleway", sans-serif;
}
#root {
	min-height: 100vh;
}
#base {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#base .content {
	flex-grow: 1;
}

.topNav .active.nav-link{
	background: rgba(114, 187, 255, 0.226);
}
.imgContainer {
	margin: 0 auto;
}
.imgContainer img {
	width: 100%;
	margin: 0 auto;
}

.adminActive {
	background: #00f;
}

section {
	min-height: 80vh;
}
.content {
	min-height: 75vh;
}

.btn-pill {
	border-radius: 100px !important;
}

/* ---------------------------      Tracks      ------------------------------*/
.tracks-area {
	padding: 4rem 0;
}
.tracks-area .button-group button {
	background: transparent;
	border: none;
	font-weight: 500;
	text-transform: uppercase;
	/* background: #55efc4; */
	background: #00b894;
	margin: 0 1rem 0 0;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	color: white;
	outline: none;
}
.tracks-area .grid {
	min-height: 100vh !important;
}

.trackCard {
	position: relative;
	/* min-height: 20em; */
	border-radius: 6px;
	transition: 0.3s;
	overflow: hidden;
}
.trackCard .trackCard-img-container {
	/* position: absolute;
	height: 100%;
	width: 100%; */
}
.trackCard .trackCard-img-container img {
	width: 100%;
	/* height: 100%; */
}
.trackCard .trackCard-body {
	position: absolute;
	padding: 1rem;
	color: white;
	bottom: 0;
	z-index: 1;
}
.trackCard .trackCard-body .trackCard-name {
	font-weight: bold;
	font-size: 1.5rem;
}
.trackCard::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.35) 25%, rgba(0, 0, 0, 0) 50%);
}
.trackCard::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	z-index: 2;
	transition: 0.3s;
}
.trackCard:hover {
	transform: translateY(-10px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	transition: 0.3s;
}
.trackCard:hover.trackCard::before{
	background: rgba(0, 0, 0, 0.65);
	transition: 0.3s;
}
.trackCard .trackCard-favourite {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: none;
}
.trackCard:hover .trackCard-favourite{
	display: block;
	transition: 0.3s;
}
/* a {
	color: #9c3;
	text-decoration: none;
} */

.trackCard .trackCard-favourite .removeBtn{
	position: absolute;
	top: 5%;
	right: 5%;
	cursor: pointer;
}
.trackCard .trackCard-favourite .starRating{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.4rem;
}
.trackCard .trackCard-favourite .starRating:not(old) {
	display: inline-block;
	width: 7.5em;
	height: 1.5em;
	overflow: hidden;
	vertical-align: bottom;
}

.trackCard .trackCard-favourite .starRating:not(old) > input {
	margin-right: -100%;
	opacity: 0;
}

.trackCard .trackCard-favourite .starRating:not(old) > label {
	display: block;
	float: right;
	cursor: pointer;
	position: relative;
	background: url("/imgs/star-off.svg");
	background-size: contain;
}

.trackCard .trackCard-favourite .starRating:not(old) > label:before {
	content: "";
	display: block;
	width: 1.5em;
	height: 1.5em;
	background: url("/imgs/star-on.svg");
	background-size: contain;
	opacity: 0;
	transition: opacity 0.2s linear;
}

.trackCard .trackCard-favourite .starRating:not(old) > label:hover:before,
.trackCard .trackCard-favourite .starRating:not(old) > label:hover ~ label:before,
.trackCard .trackCard-favourite .starRating:not(:hover) > :checked ~ label:before {
	opacity: 1;
}


/*---------------------	Footer ---------------------*/
#contactus{
	position: relative;
}
#contactus span::after{
	content: '';
	position: absolute;
	right: 0;
	bottom: -4px;
	width: 85%;
	height: 3px;
	border-radius: 10px;
	background: white;
}