@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
}

/* #CF6150: Red-white */
/* #AD95CF: Purple-white */
/* #F0C559: Yellow-white */
.hero-gradient{
  height: 100vh;
  /* background-image: radial-gradient(#f64f59 0%, #c471ed 90%, #12c2e9 100%); */
  background-image: radial-gradient(circle at 75% 75%, #7F7FD5, #86A8E7, #91eae4);
}



a:hover {
	background: rgba(255, 255, 255, 0.15);
}

#root {
	min-height: 100vh;
}
#base {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#base .content {
	flex-grow: 1;
}
.imgContainer {
	margin: 0 auto;
}
.imgContainer img {
	width: 100%;
	margin: 0 auto;
}
.active {
	color: #0f0 !important;
}

.adminActive {
	background: #00f;
}

section {
	min-height: 80vh;
}
.content {
	min-height: 75vh;
}

.btn-pill{
	border-radius: 100px!important;
}

/* -----------------      Songs */
.tracks-area {
	padding: 4rem 0;
}
.tracks-area .button-group button {
	background: transparent;
	border: none;
	font-weight: 500;
	text-transform: uppercase;
	/* background: #55efc4; */
	background: #00b894;
	margin: 0 1rem 0 0;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	color: white;
	outline: none;
}
.tracks-area .grid {
	min-height: 100vh !important;
}

.track .card {
	/* box-shadow: 0 0 12px rgba(0, 0, 0, 0.15); */
	transition: 0.3s;
}
.track .card:hover {
	transform: translateY(-10px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
}
